<div class="modal-wrapper">
    <form class="data-input">
        <label>Info</label>
        <input class="main-input" type="text" placeholder="Name">
        <select class="main-select">
            <option selected hidden ngValue="null">Wallet</option>
        </select>
        <label>Amount</label>
        <input class="main-input" type="number" placeholder="Value">
        <input class="main-input" type="number" placeholder="Paid off (optional)">
        <input class="main-input date" type="date" placeholder="Expires at">
    </form>
    <button class="modal-action-button">Create</button>
</div>
