<div class="modal-wrapper">
    <form class="data-input" [formGroup]="form">
        <label>Info</label>
        <input class="main-input" type="text" placeholder="Name" formControlName="name">
        <input class="main-input" list="currencies" placeholder="Currency" formControlName="currency" formControlName="currency">
        <datalist name="currencies" id="currencies">
            <option *ngFor="let currency of dss.currencies" value="{{currency.code}}">{{currency.name}}
            </option>
        </datalist>
        <label>Amount</label>
        <input class="main-input" type="number" placeholder="Final amount" formControlName="goal" min="0.00000001">
        <input class="main-input" type="number" placeholder="Current value (optional)" formControlName="balance" min="0">
        <label>Expires at</label>
        <input class="main-input date" type="date" placeholder="Expires at" formControlName="expiresAt">
    </form>
    <div class="action-buttons">
        <button class="modal-action-button" [disabled]="form.invalid || !ableToSubmit" (click)="modifyWallet()">{{ modalMode }}</button>
        <button *ngIf="modalMode === modalModes.Update" class="modal-action-button-inverted" (click)="deleteDebt()" [disabled]="!ableToSubmit">Delete</button>
    </div>
</div>
