@import url('../../common/styles/inputs.css');
@import url('../../common/styles/buttons.css');


.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 290px
}

.data-input {
    display: flex;
    flex-direction: column;
}

.modal-action-button {
    background-color: var(--dark-blue);
}

.date {
    text-indent: 8px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}