@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Roboto:wght@500&display=swap');

:root {
    --main-blue: #3E68D1;
    --text-gray: #7D848F;
    --light-gray: #F1F2F2;
    --purple: #7A3EF8;
    --transaction-type-background: #F8F9FD;
    --transaction-expense: #F29912;
    --transaction-income: #2BD1D4;
    --dark-text: #444444;
    --dark-blue: #555994;
}
html {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100%;

}

button {
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

.mat-dialog-container {
    border-radius: 15px !important;
}

.transaction-dialog .mat-dialog-container {
    padding: 0px;
}

body {
    margin: 0px;
    height: 100%;
}

input[type=date] {
    font-family: 'Roboto', sans-serif;
}
