<div class="modal-wrapper">
    <form class="data-input" [formGroup]="form">
        <label>Info</label>
        <select class="main-select" formControlName="debt">
            <option selected hidden  disabled value="Debt" [ngValue]="null">Debt</option>
            <option *ngFor="let debt of debts$ | async" [ngValue]="debt">{{ debt.name }}</option>
        </select>
        <label>Amount</label>
        <input class="main-input" type="number" placeholder="Amount" formControlName="amount" min="0.00000001">
    </form>
    <button class="modal-action-button" [disabled]="form.invalid || !ableToSubmit" (click)="createPayment()">Add</button>
</div>
