<div class="chart-info">
    <h2 class="name">Wallets</h2>
    <p class="value" *ngIf="userSettings$ | async as us">{{ ( totalBalance | shortNumber ) | currencyLocation : (us.mainCurrency | currencySymbol) : us.currencyFormat}}</p>
</div>
<div class="chart-wrapper">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels.labels" [options]="chartOptions">
    </canvas>
</div>

<div class="available-options">
    <button (click)="selectOptions(dateOption.value)" class="chart-date-option secondary-button"
        *ngFor="let dateOption of chartDateOptions | keyvalue: sortNull "
        [ngClass]="{'selected-option' : dateOption.value === selectedOption}">{{ dateOption.value }}</button>
</div>