@import url('../../common/styles/buttons.css');

.crypto-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallets {
    width: 100%;
    display: grid;
    column-gap: 58px;
    justify-content: center;
    row-gap: 40px;  
    grid-column: auto;
    grid-template-columns: repeat(auto-fill, 245px);
}

@media only screen and (max-width: 900px) {
    .crypto-wrapper {
        padding-top: 30px;
    }
}