@import url('../../common/styles/buttons.css');

.crypto-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .crypto-wrapper {
        padding-top: 30px;
    }
}