<div class="investments-page-wrapper">
    <div class="investments-top-menu">
        <button class="add-button" (click)="openNewsFilterDialog()">Add news filter</button>
        <button class="add-button" (click)="openStockDialog()">Add Stock</button>
    </div>
    <section class="content">
        <div class="stocks-chart-news-wrapper">
            <section class="stocks-chart">
                <h2>Stocks</h2>
                <app-stocks-chart></app-stocks-chart>
            </section>
            <section class="news">
                <h2>News</h2>
                <app-news-entry class="news-entry" [news]="newsEntry" *ngFor="let newsEntry of news$ | async"></app-news-entry>
            </section>
        </div>
        <section class="stocks">
            <h2>Stocks</h2>
            <ng-container *ngIf="stocks$ | async as stocks">
                <app-stock [stock]="stock" *ngFor="let stock of stocks.results"></app-stock>
                <div class="stocks-batch-buttons">
                    <button *ngIf="stocks.previous" class="secondary-button" (click)="loadPreviousStocks()">Previous</button>
                    <button *ngIf="stocks.next" class="secondary-button" (click)="loadNextStocks()">Next</button>
                </div>
            </ng-container>
        </section>
    </section>
</div>
