<div class="investments-wrapper">
    <div class="top-menu">
        <h2>Investments</h2>
        <button class="add-button" (click)="openInvestmentDialog()">Add investments</button>
    </div>
    <div class="investments" *ngIf="userSettings$ | async as us">
        <div class="investment" *ngFor="let investment of investments$ | async">
            <div class="info">
                <div class="color" [style.backgroundColor]="investment.color"></div>
                <div class="text">
                    <p class="name">{{ investment.name }}</p>
                    <p class="description">{{ investment.description }}</p>
                </div>
            </div>
            <div class="right">
                <div class="actions">
                    <mat-icon class="action" fontIcon="material-icons-round" (click)="openEditDialog(investment)">edit</mat-icon>
                    <mat-icon class="action" fontIcon="material-icons-round" (click)="deleteInvestment(investment)">close</mat-icon>
                </div>
                <div class="amount-percent">
                    <p class="amount">{{ (investment.balance | shortNumber) | currencyLocation : investment.currency : us.currencyFormat}} </p>
                    <p class="percent">{{ investment.percent }}%</p>
                </div>
               
            </div>
        </div>
    </div>
</div>
