<div class="crypto-transfer-modal-wrapper">
    <form class="transfer-info" [formGroup]="form">
        <label>Wallet</label>
        <select class="main-select" formControlName="sourceWallet">
            <option value="null" selected disabled hidden>Wallet</option>
        </select>
        <input class="main-input" type="number" placeholder="Amount (ETH)" formControlName="amount">
        <label>Recipient</label>
        <input class="main-input" type="text" placeholder="Ethereum address" formControlName="targetAddress">
        <input class="main-input" type="password" placeholder="Wallet password" formControlName="password">
    </form>
    <button class="modal-action-button" [disabled]="!form.valid">Submit</button>
</div>
