<div class="crypto-transfer-modal-wrapper">
    <form class="transfer-info">
        <label>Wallet</label>
        <select class="main-select">
            <option value="null" selected disabled hidden>Wallet</option>
        </select>
        <input class="main-input" type="number" placeholder="Amount (ETH)">
        <label>Recipient</label>
        <input class="main-input" type="text" placeholder="Ethereum address">
        <input class="main-input" type="password" placeholder="Wallet password">
    </form>
    <button class="modal-action-button">Submit</button>
</div>
