<section class="transaction-wrapper" *ngIf="userSettings$ | async as us">
    <div class="transaction-main-info">
        <div class="transaction-type-icon">
            <mat-icon  fontIcon="material-icons-round" *ngIf="transactionType == transactionTypes.Income">arrow_upwards</mat-icon>
            <mat-icon  fontIcon="material-icons-round" *ngIf="transactionType == transactionTypes.Expense">arrow_downwards</mat-icon>
            <mat-icon  fontIcon="material-icons-round" *ngIf="transactionType == transactionTypes.Transfer">sync</mat-icon>

        </div>
        <div>
            <p class="transaction-description">{{ transaction.description }}</p>
            <div *ngIf="transaction.category" [ngStyle]="{'color': transaction.category.color}" class="transaction-description-icon">
                <mat-icon fontIcon="material-icons-round" >{{ transaction.category.icon }}</mat-icon>
                <p class="transaction-category">{{ transaction.category.name }}</p>
            </div>
            <div class="transfer-wallets-names" *ngIf="transactionType === transactionTypes.Transfer">
                <p class="wallet-name">{{ transaction.sourceWallet?.name }}</p>
                <mat-icon fontIcon="material-icons-round" >east</mat-icon>
                <p class="wallet-name">{{ transaction.targetWallet?.name }}</p>
            </div>
        </div>
    </div>
    <div class="transaction-menu">
        <div class="transaction-edit-menu">
            <button class="mat-button transaction-edit" (click)="openTransactionModal()"> 
                <mat-icon fontIcon="material-icons-round" inline="true">edit</mat-icon>
            </button>
            <button class="mat-button transaction-edit">
                <mat-icon fontIcon="material-icons-round" inline="true" (click)="deleteTransaction()">close</mat-icon>
            </button>
        </div>
        <p class="transaction-date">{{ transaction.createdAt | date: us.dateFormat }}</p>

        <div class="transaction-amount-wrapper">
            <p *ngIf="transaction.sourceAmount" class="transaction-amount">{{ (transaction.sourceAmount | shortNumber) | currencyLocation : (transaction.sourceWallet!.currency | currencySymbol ) : us.currencyFormat }}</p>
            <mat-icon fontIcon="material-icons-round"  *ngIf="transactionType === transactionTypes.Transfer">east</mat-icon>
            <p *ngIf="transaction.targetAmount" class="transaction-amount">{{(transaction.targetAmount | shortNumber) | currencyLocation : (transaction.targetWallet!.currency | currencySymbol ) : us.currencyFormat }}</p>
        </div>
        
    </div>
 
</section>