.transaction-wrapper {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 200ms;
    height:  70px;
}

.transaction-main-info {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.transaction-description,
.transaction-category {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.transaction-amount-wrapper {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.transfer-wallets-names {
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    gap: 5px;
}

.wallet-name {
    margin: 0px;
}

.transaction-amount,
.transaction-description {
    font-weight: bold;
    font-size: 1.25rem;
}

.transaction-date {
    color: var(--text-gray);
    width: 150px;
}

.mat-button {
    border: none;
    padding: 0px;
    color: var(--text-gray);

}

.transaction-edit {
    height: 25px;
    font-size: 25px;
    width: 25px;
}

.transaction-edit:hover {
    transform: scale(1.05);
    color: var(--main-blue);
    cursor: pointer;
}

.transaction-edit:active {
    filter: grayscale(0.1);
}

.transaction-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.transaction-edit-menu {
    visibility: hidden;
    opacity: 0;
    transition-duration: 100ms;
    display: flex;
}

.transaction-wrapper:hover .transaction-edit-menu{
    visibility: visible;
    opacity: 1;
    transition-duration: 100ms;
}

.transaction-wrapper:hover {
    transform: scale(1.02);
}

.transaction-type-icon {
    background-color: var(--transaction-type-background);
    border-radius: 30px;
    min-width: 54px;
    min-height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.transaction-type-icon mat-icon{
    width: 43px;
    height: 43px;
    font-size: 43px;
    color: var(--transaction-income);
}

.transaction-description-icon {
    display: flex;
    align-items: center;
    transition-duration: 100ms;
}

.transaction-category {
    margin-left: 5px;
}

@media only screen and (max-width: 700px) {
    .transaction-date {
        display: none;
    }

    .transaction-amount-wrapper {
        width: auto;
        flex-wrap: wrap;
    }

    .transaction-main-info {
        min-width: 140px;
    }

    .transaction-edit-menu {
        flex-direction: column;
    }
}