.transaction-filter-button,
.add-transaction-button {
    height: 46px;
    color: var(--text-gray);
    margin: 0 10px 0 10px;
    background-color: white;
    border: 2px solid var(--text-gray);
    border-radius: 8px;
    font-size: 1.25rem;
    line-height: 46px;
    padding: 0 20px 0 20px;
    transition-duration: 200ms;
}

.transaction-filter-button:hover,
.add-transaction-button:hover {
    cursor: pointer;
    background-color: var(--main-blue);
    color: white;
    border-color: var(--main-blue);
    transform: scale(1.05);
}

.transaction-filter-button:active,
.add-transaction-button:active {
    filter: grayscale(0.15);
}

.add-transaction-button {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    color: white;
}

.selected-filter {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    color: white;
}

.transactions-menu {
    display: flex;
    justify-content: space-between;
}

.transactions-page-wrapper { 
    width: 90%;
    margin:auto;
}