<div class="debt">
    <div class="chart-wrapper">
        <canvas baseChart [type]="'doughnut'" [datasets]="chartData" [labels]="chartLabels.labels" [options]="chartOptions">
        </canvas>
    </div>
    <div class="description">
        <div class="amount-info">
            <p class="amount">$3705 / $10k</p>
            <div class="color-name">
                <div class="color"></div>
                <p class="name">- name</p>
            </div>
        </div>
        <p class="expiration-date">Expires at:<br>22 December 2022</p>

    </div>
</div>