@import url('../../common/styles/buttons.css');
@import url('../../common/styles/inputs.css');

.transaction-builder {
    display: flex;
    flex-direction: column;
}
.transaction-input {
    display: flex;
    flex-direction: column;
}

.create-button {
    margin: 25px auto 0 auto;
}

.transaction-type-button {
    color: white;
    height: 60px;
    margin: 0;
    flex-grow: 1;
    font-size: 1.25rem;
    line-height: 40px;
    padding: 0 20px 0 20px;
    transition-duration: 100ms;
    border: none;
}

.reversed-wrapper {
    flex-direction: row-reverse;
}

.data-input {
    padding: 0px 20px 20px 20px;
}

.transaction-type-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
}

.unselected-transaction-type {
    color: var(--text-gray);
    background-color: white !important;
}

.one-line-inputs-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}