<section class="transaction-builder">
    <section class="transaction-type-select">
        <button [ngClass]="{'unselected-transaction-type': transactionType.value !== selectedType  }"
            [ngStyle]="{'background-color' : transaction.category.color }" class="transaction-type-button"
            (click)="selectType(transactionType.value)" *ngFor="let transactionType of transactionTypes | keyvalue">{{
            transactionType.key }}</button>
    </section>
    <div class="data-input">
        <form class="transaction-input" [formGroup]="form">
            <label for="">Amount</label>
            <div class="one-line-inputs-wrapper">
                <input *ngIf="selectedType !== transactionTypes.Income" class="one-line-input" type="number" placeholder="Source Amount" formControlName="sourceAmount">
                <mat-icon fontIcon="material-icons-round" *ngIf="(selectedType === transactionTypes.Transfer)">east
                </mat-icon>
                <input class="one-line-input" *ngIf="selectedType !== transactionTypes.Expense" type="number"
                    placeholder="Target Amount" formControlName="targetAmount">

            </div>
            <label for="description">Info</label>
            <div class="one-line-inputs-wrapper"
                [ngClass]="{'reversed-wrapper' : selectedType === transactionTypes.Expense}">
                <select class="one-line-input" type="text" name="category" placeholder="Category"
                    *ngIf="(selectedType === transactionTypes.Expense) || (selectedType === transactionTypes.Income)"
                    formControlName="category">
                    <option [ngValue]="null" disabled selected hidden>Category</option>
                    <option *ngFor="let category of categories$ | async" [ngValue]="category">{{category.name}}
                    </option>
                </select>
                <mat-icon fontIcon="material-icons-round" *ngIf="(selectedType === transactionTypes.Expense)">east
                </mat-icon>
                <select class="one-line-input"
                    *ngIf="(selectedType === transactionTypes.Expense) || (selectedType === transactionTypes.Transfer)"
                    formControlName="sourceWallet">
                    <option [ngValue]="null" disabled selected hidden>Source wallet</option>

                    <option *ngFor="let wallet of wallets$ | async" [ngValue]="wallet">{{wallet.name}}
                    </option>
                </select>
                <mat-icon fontIcon="material-icons-round" *ngIf="(selectedType !== transactionTypes.Expense)">east
                </mat-icon>
                <select class="one-line-input"
                    *ngIf="(selectedType === transactionTypes.Income) || (selectedType === transactionTypes.Transfer)"
                    formControlName="targetWallet">
                    
                    <option [ngValue]="null" disabled selected hidden>Target wallet</option>

                    <option *ngFor="let wallet of wallets$ | async" [ngValue]="wallet">{{wallet.name}}
                    </option>
                </select>
            </div>
            <input type="text" name="description" placeholder="Description (optional)" formControlName="description">
        </form>
        <button (click)="modifyTransaction()" class="create-button" [style.backgroundColor]="transaction.category.color"
            type="submit" [disabled]="!form.valid">{{ modalMode }}
        </button>
    </div>
</section>