<div class="container">
    <app-sidemenu (pageChangeEvent)="changePage($event)"></app-sidemenu> 
    <main>
        <header>
            <h1 *ngIf="auth.user$ | async as user">Welcome back, <b>{{ user.name }}</b></h1>
        </header>
        <app-wallets-page  *ngIf="currentPage === pages.Wallets" @fadeIn></app-wallets-page>
        <app-transactions-page  *ngIf="currentPage === pages.Transactions" @fadeIn></app-transactions-page>
        <app-investments-page  *ngIf="currentPage === pages.Investments" @fadeIn></app-investments-page>
    </main>
</div>
