app-sidemenu {
    height: 100%;
    position: fixed;
}

main {
    height: 100%;
    flex-grow: 1;
    margin-left: min(20vw, 323px);
}

header {
    height: 100px;
}

h1 {
    font-weight: 400;
    color: var(--text-gray);
    margin-left: 5vw;
    margin-top: 44px;
}

h1 b {
    color: black;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 900px) {
    main {
        margin-left: min(20vw, 60px);
    }
}
