<ng-container *ngIf="{ value: userSettings$ | async } as us">
    <app-loader-spinner *ngIf="us.value === undefined; else loaded"></app-loader-spinner>
</ng-container>
<ng-template #loaded>
    <div class="container" >
        <app-sidemenu (pageChangeEvent)="changePage($event)"></app-sidemenu> 
        <main>
            <header>
                <h1 *ngIf="auth.user$ | async as user">Welcome back, <b>{{ user.name }}</b></h1>
            </header>
            <app-wallets-page  *ngIf="currentPage === pages.Wallets" @fadeIn></app-wallets-page>
            <app-transactions-page  *ngIf="currentPage === pages.Transactions" @fadeIn></app-transactions-page>
            <app-analytics-page  *ngIf="currentPage === pages.Analytics" @fadeIn></app-analytics-page>
            <app-stocks-page  *ngIf="currentPage === pages.Stocks" @fadeIn></app-stocks-page>
            <app-crypto-page *ngIf="currentPage === pages.Crypto" @fadeIn></app-crypto-page>
            <app-overview-page  *ngIf="currentPage === pages.Overview" @fadeIn></app-overview-page>
            <app-debts-page *ngIf="currentPage === pages.Debts" @fadeIn></app-debts-page>
        </main>
    </div>
</ng-template>


